@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: poppins;
}

body {
  display: flex;
  justify-content: center;
}
.user-form {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.user-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-form form > div {
  display: flex;
  flex-direction: column;
}

.logout-button {
  margin-top: 32px;
}
